html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
}

/* Use for the dark theme elevation 
   Reference: https://m2.material.io/design/color/dark-theme.html#properties
*/

.dp01 {
    background-color: hsla(0, 100%, 100%, 0.05);
    box-shadow:
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    0px 1px 1px 0px hsla(0,0%,0%,0.14), 0px 2px 1px -1px hsla(0,0%,0%,0.12), 0px 1px 3px 0px hsla(0,0%,0%,0.2);
}

.dp02 {
    background-color: hsla(0, 100%, 100%, 0.07);
    box-shadow:
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    0px 2px 2px 0px hsla(0,0%,0%,0.14), 0px 3px 1px -2px hsla(0,0%,0%,0.12), 0px 1px 5px 0px hsla(0,0%,0%,0.2);
}



/* Hero Section */

.hero-section {
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://media.giphy.com/media/7VzgMsB6FLCilwS30v/giphy.gif');
    background-size: cover;
    background-position: center;
}

.hero-text {
    font-size: 5rem; /* Adjust font size as needed */
    text-align: center;
}

.hero-text h1 {
    font-size: 4rem; /* Adjust font size as needed */
    text-align: center;
}

.btn-custom {
    background-color: black;
    color: white;
    border-color: white;
    border-width: 5px;
    border-radius: 10px;
}

.btn-custom:hover {
    background-color: white;
    color: black;
}


/* Uploadfile Section */

.container_Uploadfile {
    max-width: 1000px;  
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-width: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    border-color: black;
}

.form-group input[type="submit"]:hover {
    background-color: darkred;
    color: white;
}

.message {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
}