@{
    ViewBag.Title = "UploadFile";
}

@* <h2>UploadFile</h2>

@using (Html.BeginForm("UploadFile_AI_Module", "Services", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="submit" value="Upload" />
        @ViewBag.Message
    </div>
} *@

<div class="flex-container" style="height: 100%;">
    <div class="modal-body row">

        <!-- Left Side -->
        <div class="container_Uploadfile dp01 col-md-6" id="sideleft">
            <div class="d-flex flex-column align-items-center justify-content-center text-light">
                <h1>Welcome to Test Generator!</h1>
                <h2>Upload File</h2>
                <form action="/Services/UploadFile_AI_Module" method="post" enctype="multipart/form-data">
                    <div class="form-group text-light">
                        <label for="file">Select File:</label>
                        <input type="file" name="file" id="file" />
                    </div>
                    <div class="form-group text-light">
                        <input type="submit" value="Upload" />
                        <div class="message">@ViewBag.Message</div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Right Side -->
        <div class="col-md-6" id="sideright">
            <div>
                <iframe src="http://infolab.stanford.edu/pub/papers/google.pdf#toolbar=0&navpanes=0&scrollbar=0"
                        frameBorder="0"
                        scrolling="auto"
                        height="100%"
                        width="100%"></iframe>
        </div>

    </div>
</div>