@{
    ViewBag.Title = "Welcome Page";
}

<script>
    if (sessionStorage.getItem("fileName") != null) {
        sessionStorage.clear();
    }
</script>

<div class="hero-section bg-dark text-white">
    <div class="hero-text">
        <h1>Welcome to AI Services</h1>
        <br>
        <a asp-action="UploadFile" asp-controller="Services" class="btn btn-custom btn-lg">Upload a file</a>
    </div>
</div>
